.now/*
.next/*
*.css
dist
esm/*
public/*
README.md
tests/*
scripts/*
*.config.js
.DS_Store
node_modules
coverage
.next
build
!.commitlintrc.cjs
!.lintstagedrc.cjs
.lintstagedrc.cjs
!jest.config.js
!react-shim.js
